.homePageTop{
    padding: 1rem;
    height: 4.4rem;
}
.homePageTop img{
    height: 2.4rem;z-index: 99
}
.home-side-list{
    background: url("../images/sidelist.png") no-repeat center top;
    background-size: contain;
    width: 3rem;
    margin-top: .8rem;
}

.searchList{
    height: 2.4rem;
    position: relative !important;
    z-index: 99;
    margin: 1rem;
    width: 75%;
}
.searchList .item-input{
    height: 2.6rem;
    padding: 0 2rem;
    border:.1rem solid #cccccc;
    border-radius: 1.2rem;
    z-index: 0 !important;
}
.searchListBtn{
    background: url("../images/search.png") no-repeat center top;
    background-size: contain;
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    border:none;
    top:.4rem;
    right:1rem;
    z-index: 999;
}