*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 62.5%;
    -webkit-user-select:auto;
}
body,.scroll{
    -webkit-user-select:auto;
}

/*客服按钮*/
div #rong-conversation{
    left: 0;
}
.rongcloud-kefuBtnBox{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.rongcloud-kefuBtn .rongcloud-people{
    display: none;
}
#rong-conversation{
    width: 300px;
    height: 800px;
    display: inline-block;
}
#rong-widget-minbtn{
    background:url("../images/service1.png") no-repeat  center/100%;
}
.rongcloud-kefuChat #header{
    background: deepskyblue;
}

