
.tabs-icon-top .tabs{
    padding-top:0;
}
.tabs-icon-top .icon {
    margin-top: .6rem;
    margin-bottom: .5rem;
    height: 1.7rem !important;
}
.tabs-icon-top div a span{
    font-size: 1.2rem;
}
/*自定义图标*/
/*home*/
.tabs-home{
    background: url("../images/home.png") no-repeat center top;
    background-size: contain;
}
.tabs-home-outline{
    background: url("../images/homeSelect.png") no-repeat center top;
    background-size: contain;
}
/*integral*/
.tabs-integral{
    background: url("../images/integral.png") no-repeat center top;
    background-size: contain;
}
.tabs-integral-outline{
    background: url("../images/integralSelect.png") no-repeat center top;
    background-size: contain;
}
/*league*/
.tabs-league{
    background: url("../images/league.png") no-repeat center top;
    background-size: contain;
}
.tabs-league-outline{
    background: url("../images/leagueSelect.png") no-repeat center top;
    background-size: contain;
}
/*person*/
.tabs-person{
    background: url("../images/person.png") no-repeat center top;
    background-size: contain;
}
.tabs-person-outline{
    background: url("../images/personSelect.png") no-repeat center top;
    background-size: contain;
}
.tab-item-active .ng-binding {
    /*font-weight: bold;*/
    color: white;
}
.tab-item-active {
    background-color: #e60012;
}