<ion-view>


    <ion-content class="personContent">
        <div class="personInfo">
            <img src="images/mine.png">
            <div class="infoNameBox">
                <p>{{person.userName}}</p>
                <span>{{person.creditNum}}积分</span>
            </div>
        </div>

        <div class="personOrderCollect">
            <div class="personOrder" ng-click="showOrder()">
                <img src="images/order.png" alt="">
                <p>我的订单</p>
            </div>
            <div></div>
            <div class="personCollect" ng-click="showCollect()">
                <img src="images/collect.png" alt="">
                <p>我的收藏</p>
            </div>
        </div>

        <div class="personShopping personList" ng-click="showShoppingCar()">
            <img src="images/shoppingCar.png" alt="" class="personShopIcon">
            <div class="personShopText">
                <p>我的购物车</p>
                <img src="images/numsArrow.png">
            </div>
        </div>

        <div class="personIntegral personList" ng-click="showIntegral()">
            <img src="images/credit.png" alt="" class="personIntegralIcon">
            <div class="personShopText">
                <p>我的积分</p>
                <img src="images/numsArrow.png">
            </div>
        </div>
        <div class="personAddress personList" ng-click="showAddress()">
            <img src="images/address.png" alt="" class="personAddressIcon">
            <div class="personShopText">
                <p>收货地址</p>
                <img src="images/numsArrow.png">
            </div>
        </div>
        <div class="personPay personList" ng-click="showPay()">
            <img src="images/pay.png" alt="" class="personPayIcon">
            <div class="personShopText">
                <p>支付记录</p>
                <img src="images/numsArrow.png">
            </div>
        </div>
        <div class="personConcern personList" ng-click="showConcern()">
            <img src="images/concern.png" alt="" class="personConcernIcon">
            <div class="personShopText">
                <p>推荐关注</p>
                <div>
                    <span>推荐好友关注送积分</span>
                    <img src="images/numsArrow.png">
                </div>
            </div>
        </div>


    </ion-content>

</ion-view>