

<ion-view>

    <ion-content class="mainColor">

        <div class="totalScore_total">
            <div class="score">总计积分：{{person.integralNum}}积分</div>
            <div class="exchange" ng-click="goExchange()">兑换</div>
        </div>


        <div class="totalScore-detail">
            <ul class="list">
                <li class="item">
                    <p class="inDetail">积分收入明细</p>
                </li>
                <li class="item" ng-repeat="integralItem in person.integralArray">
                    <p class="give">
                        <span class="text">{{integralItem.title}}</span>
                        <span class="num">+{{integralItem.integral}}</span>
                    </p>
                    <p class="date">{{integralItem.addTime}}</p>
                </li>
            </ul>

        </div>

    </ion-content>

</ion-view>
