<ion-view class="collect">
    <ion-content>
        <div ng-repeat="collect in coll.collectArray" class="collectMain">
        <!--<div>-->
            <img ng-src="http://114.112.94.166{{collect.litpic}}" alt="">
            <div class="collectLeft">
                <div class="collectTitle">
                    <span class="titleC">{{collect.title}}</span>
                    <div>
                        <span ng-if="collect.is_integral == 0">¥{{collect.price}}</span>
                        <span ng-if="collect.is_integral == 1">{{collect.price}}积分</span>
                        <span>×{{collect.num}}</span>
                    </div>
                </div>
                <div class="collectBtn">
                    <button ng-click="coll.showConfirm($index)">删除</button>
                    <button ng-if="collect.is_integral == 1" ng-click="coll.addShopping($index)">立即兑换</button>
                    <button ng-if="collect.is_integral == 0" ng-click="coll.addShopping($index)">加入购物车</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>