
<div class="topCarousel">
    <ion-slide-box auto-play="true"  slide-interval="800" show-pager="true" does-continue="true" delegate-handle="topCarouselSlideBox" on-slide-changed="slideHasChanged($index)"  ng-if="isShowSlideBox" on-drag="drag($event)">

        <ion-slide ng-repeat="ads in sourceArray track by $index" ng-click="goToDetailView($index)">

            <img ng-src="http://114.112.94.166{{ads.image_url}}" class="topCarouselImg">

        </ion-slide>

    </ion-slide-box>

    <!--<div class="slideBottomDiv"></div>-->
</div>